<div class="row-fluid main-page">
	<div class="span9 profile_area">
		<h1>Profile</h1>

		<%= render 'form' %>

		
	</div>
	<div class='side-bar span3 fixed' style="margin-left:1%;">
    <%= render 'postings/side_bar'%>
  </div>
</div>