<div class="row-fluid page">
	<div class="span9">
		<h1>Profile</h1>

		<%= render 'form' %>

		<%= link_to 'Back', postings_path %>
	</div>
	<div class='side-bar span3 fixed' style="margin-left:1%;">
    <%= render 'postings/side_bar'%>
  </div>
</div>