<div class="new_edit_posting">
	<h1>Editing comment</h1>

	<%= render 'form' %>

	<%= link_to 'Show', posting_comment_path(@posting) %> |
	<%= link_to 'Back', posting_comments_path(@posting) %>
</div>