<div class='row-fluid page'>
  <div class='span9 main-area'>
    <%= render 'posting_comment'%>
  </div>  
  <div class='side-bar span3 fixed' style="margin-left:1%;">
    <%= render 'side_bar'%>
  </div>
</div>
<div class="clearfix"></div>