<h1>Activities</h1>
<%if current_user%>
<%= link_to 'Add a Post',new_posting_path%><br>
<%end%>
<% @activities.each do |activity| %>
	<%#=activity.inspect%>

  <%= activity.owner.name if activity.owner %>
  <%#= activity.trackable.comment%>
  <%= render_activity activity %>
<% end %>